.typewriter {
    display: inline-block;
    width: max-content;
    margin-top: 40px;
    text-align: left;
}

.typewriter span {
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid rgb(117, 16, 247); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em;
    animation: typing 2s steps(50, end),
        typewriter-cursor 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes typewriter-cursor {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: rgb(117, 16, 247);
    }
}
